<div class="list-cards">
  <mat-card-header class="content-cards-title">Payment Method</mat-card-header>
  <div class="list-cards-container">

    <mat-card class="content-cards" *ngFor="let card of cards;index as i" (click)="choiceCard(card.cvc, i)" [ngClass]="{'active': this.activeCard === i}">
      <mat-card-content class="content-cards-container">
        <div class="card-payment" style="background: url('./assets/images/cards/cards.jpg')">
          <div class="card-payment-header">
            <div class="values-data">
              <p class="value">${{ card.price ? card.price : 0 }}</p>
              <p class="valut">USD</p>
            </div>
            <mat-icon svgIcon="visa"></mat-icon>
          </div>
          <div class="card-payment-content">
            <div class="card-payment-content-left">
              <p class="number">{{ card.number| formatCardNumber}}</p>
              <mat-icon svgIcon="copy" (click)="copyToClipboard(card.number)"></mat-icon>
            </div>
            <div class="card-payment-content-right">
              <p class="expires">Expires</p>
              <p class="number">{{ card.data }}</p>
            </div>
          </div>
          <div class="card-payment-footer">
            <p class="name-card">{{ card.name }}</p>
            <mat-icon svgIcon="more"></mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="added-card" (click)="openCardPopup()">
      <mat-card-content class="added-card-content">
        <mat-icon svgIcon="plus"></mat-icon>
        <p class="txt">Add new card</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<app-popup-card (close)="closePopup($event)" *ngIf="cardPopup"></app-popup-card>
