.navigation{
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: none;
  margin-bottom: 31px;
  .navigation-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 30px 22px 16px;

    .change{
      background-color: white;
      border: 0;
      outline: none;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 13.4px;
      span{
        color: #A3AED0;
        font-size: 2rem;
        line-height: 2.4rem;
        font-weight: 500;
      }
      mat-icon{
        width: 11px;
      }
    }
  }
}
.payement {
  display: flex;
  flex-direction: column;
  gap: 6.6px;
  padding: 0;

  ::ng-deep .mdc-list-item {
    padding: 0 !important;
    border-radius: 10px;
    background-color: #ffffff;

    .mdc-list-item__primary-text {
      padding: 0 26.5px 0 16.5px;
      display: flex;
      flex-direction: row !important;
      justify-content: space-between;
      align-items: center;
    }

    p {
      color: #A3AED0;
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 700;
    }

  }
}
