.history{
  margin-top: 28px;
  background-color: #FFFFFF;
  border-radius: 10px;
padding: 36px 30px 33px 24px;
  .history_title{
    padding: 0 0 28px 0;
    font-size: 1.6rem;
    line-height: 2.3rem;
    color: #000000;
  }
  .navigation{

    box-shadow: none;
    .navigation-content{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;

      .change{
        background-color: white;
        border: 0;
        outline: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        span{
          color: #A3AED0;
          font-size: 1.2rem;
          line-height: 2.3rem;
          font-weight: 600;
        }
        mat-icon{
          width: 11px;
        }
      }
    }
  }
  .payement {
    display: flex;
    flex-direction: column;
    gap: 6.6px;
    padding: 0;

    ::ng-deep .mdc-list-item {
      padding: 0 !important;
      border-radius: 10px;
      background-color: #ffffff;

      .mdc-list-item__primary-text {
        padding: 0;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
      }

      p {
        color: #000000;
        font-size: 1.4rem;
        line-height: 2.3rem;
        font-weight: 600;

        &.check{
          border-radius: 130px;
          background: #F0F6FF;
          color: #005CE8;
          line-height: 2rem;
          font-weight: 500;
          padding: 5px 16px;
        }

        &.complete{
          border-radius: 130px;
          background: #E7F7EF;
          color: #0FAF62;
          line-height: 2rem;
          font-weight: 500;
          padding: 5px 16px;
        }
      }

    }
  }

}
