<section class="profil-page">
  <app-profile></app-profile>
  <mat-card class="content-cards">
    <mat-card-header class="content-cards-title">Payment Method</mat-card-header>
    <mat-card-content class="content-cards-container">
      <div class="card-payment" style="background: url('./assets/images/cards/cards.jpg')">
        <div class="card-payment-header">
          <div class="values-data">
            <p class="value">$95, 400.00</p>
            <p class="valut">USD</p>
          </div>
          <mat-icon svgIcon="visa"></mat-icon>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</section>
