<mat-card class="navigation">
  <mat-card-content class="navigation-content">
    <button class="change" (click)="sortBy('UI_id')">
      <span>UID</span>
      <mat-icon [ngClass]="{'active': this.rotate}" svgIcon="arrow"></mat-icon>
    </button>

    <button class="change" (click)="sortBy('name')">
      <span>Nazwa</span>
      <mat-icon [ngClass]="{'active': this.rotate}" svgIcon="arrow"></mat-icon>
    </button>

    <button class="change" (click)="sortBy('brand')">
      <span>Marka</span>
      <mat-icon [ngClass]="{'active': this.rotate}" svgIcon="arrow"></mat-icon>
    </button>

    <button class="change" (click)="sortBy('pay')">
      <span>Płacić</span>
      <mat-icon [ngClass]="{'active': this.rotate}" svgIcon="arrow"></mat-icon>
    </button>

    <button class="change" (click)="sortBy('balance')">
      <span>Balansować</span>
      <mat-icon [ngClass]="{'active': this.rotate}" svgIcon="arrow"></mat-icon>
    </button>

    <button class="change">
      <span>Status</span>
      <mat-icon svgIcon="arrow"></mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<div class="users">
  <div class="user" *ngFor="let lists of peyementList| filter:searchText; index as i">
    <div class="users-list" [ngClass]="{'active': i == isActiveId}" (click)="openSettings(i)">
      <p class="id">{{ lists.userID }}</p>
      <p class="name" *ngIf="!isChange || isActiveId !== lists.UI_id">{{lists.name}}</p>
      <input *ngIf="isChange && isActiveId === lists.UI_id" type="text" value="{{lists.name}}" [(ngModel)]="name">
      <p class="country">{{lists.address}}</p>
      <p class="pay">${{lists.decommissioned ? lists.decommissioned : 0 }}</p>
      <p class="osc">${{lists.balanc ? lists.balanc : 0}}</p>
      <p class="status">{{lists.rules}}</p>  
    </div>
    <div class="settings" [ngClass]="{'active': i == isActiveId}">
      <app-settings [decommissioned]="lists.decommissioned" [balanc]="lists.balanc" [clicks]="lists.clicks" class="setting-content" [user]="lists" ></app-settings>>
    </div>
  </div>
</div>