<section class="popup" *ngIf="isPopup">
  <mat-card class="popup-card">

    <mat-card-header class="popup-card-title">
      <p>Dodaj nową offers</p>
    </mat-card-header>
    <mat-card-content class="popup-card-content">
      <form class="form" [formGroup]="form" (ngSubmit)="addNewCard()">
        <div class="input-block">
          <label>Name</label>
          <input type="text" placeholder="Name" formControlName="name">
        </div>
        <div class="input-block">
          <label>Country</label>
          <input type="text" placeholder="Country" formControlName="country">
        </div>
        <div class="input-block">
          <label>Balanc</label>
          <input type="number" placeholder="Oscillate" formControlName="oscillate">
        </div>
        <div class="input-block">
          <label>Pay</label>
          <input value="inWork" type="number" placeholder="Pay" formControlName="pay">
        </div>
        <div class="input-block">
          <label>Status</label>
          <input type="text" placeholder="Status" formControlName="status">
        </div>
        <mat-card-actions class="popup-card-actions">
          <button class="cansel" type="button" (click)="closePopup()">Anulować</button>
          <button class="add" type="submit">
            <mat-icon svgIcon="add"></mat-icon>
            <span>Dodaj kartę</span>
          </button>
        </mat-card-actions>
      </form>

    </mat-card-content>

  </mat-card>

</section>
